<div class="section section-dark text-left">
    <div class="container">
        <h2 class="title"></h2>
        <div class="row">
            <div class="col-md-4">
                <div class="motto text-left">
                    <h1>Soluções inovadoras</h1>
                    <h3>Encante seus clientes, surpreenda e inove!</h3>
                    <br/>
                    <p class="card-description text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quibusdam impedit iure labore nulla ratione voluptatum ullam sed hic ?
                    </p>
                    <br/>
                    <a href="https://www.youtube.com/watch?v=RP7OMTA4gOE" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Apresentação</a>
                    <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
                </div>
            </div>        

            <div class="col-md-5">
                <div class="card card-profile card-plain">
                    <div class="card-avatar-thin">
                        <a href=""><img src="./assets/img/examples/IMG_1188.jpg" alt="logo"></a>
                    </div>
                    <div class="card-block">
                        <a href="">
                            <div class="author">
                                <h4 class="card-title"></h4>
                                <h6 class="card-category"></h6>
                            </div>
                        </a>
                        
                    </div>
                    <div class="card-footer text-center">
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Tudo sobre seu produto</h2>
                <h5 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, fugiat eius voluptate, ipsum quae odit a eaque, aut reprehenderit minus ab hic laboriosam consectetur officia quaerat possimus voluptas velit molestiae.</h5>
                <br>
                <a href="http://www.staggeringbeauty.com/" class="btn btn-danger btn-round">Mais detalhes</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Lindas galerias</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="" class="btn btn-link btn-danger">Mais detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Novos insights</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="" class="btn btn-link btn-danger">Mais detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Estatisticas</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        <a href="" class="btn btn-link btn-danger">Mais detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Lindos designs</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="" class="btn btn-link btn-danger">Mais detalhes</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Conheça o nosso time</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href=""><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="">
                            <div class="author">
                                <h4 class="card-title">Carl Silva</h4>
                                <h6 class="card-category">Gerente de projetos</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto provident soluta reprehenderit illum ratione incidunt repellendus mollitia ex ipsam quis.                       
                     </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href=""><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="">
                            <div class="author">
                                <h4 class="card-title">Charlote Thin</h4>
                                <h6 class="card-category">Design</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita enim soluta quo!
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href=""><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="">
                            <div class="author">
                                <h4 class="card-title">Jorge Oll</h4>
                                <h6 class="card-category">Desenvolvedor</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis excepturi veniam molestias architecto recusandae doloremque magnam non placeat iusto dolorem?
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Duvidas e sugestões!?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nome</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nome" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Mensagem</label>
                        <textarea class="form-control" rows="4" placeholder="Conte sobre suas dificuldades..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>