<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.linkedin.com/in/raphaelmcarvalho/">Linkedin</a></li>
                    <li><a href="https://github.com/RaphaelCarvalh/RaphaelCarvalh">GitHub</a></li>
                    <li><a href="https://raphaelcarvalh.github.io/SiteResponsivo">Outros</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}},<i class="fa fa-snowflake-o"></i> DevOne<i class="fa fa-fighter-jet" aria-hidden="true"></i>

                </span>
            </div>
        </div>
    </div>
</footer>
